@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One");
@import url("https://fonts.googleapis.com/css?family=Andada");
.fixit {
  background: rgba(255, 0, 0, 0.1) !important;
  color: red !important; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Alfa Slab One", serif; }

h1 {
  color: #FFCB05 !important;
  font-size: 60px; }

h2 {
  color: white;
  font-family: "Helvetica", sans-serif;
  font-size: 20px;
  margin: 5px 0;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }

h3 {
  font-size: 32px;
  font-weight: 200;
  margin: 0 0 35px; }

h4 {
  font-size: 20px;
  font-weight: 200;
  margin: 5px 0; }

h5 {
  font-size: 16px;
  line-height: 22px;
  margin: 5px 0; }

hr {
  border: none;
  border-top: 1px solid #e4e3e4; }

a {
  -webkit-box-shadow: inset 0 -2px 0 #FFCB05;
  box-shadow: inset 0 -2px 0 #FFCB05;
  color: inherit;
  -webkit-transition: all .5s;
  transition: all .5s; }
  a:hover {
    -webkit-box-shadow: inset 0 -30px 0 #FFCB05;
    box-shadow: inset 0 -30px 0 #FFCB05;
    text-decoration: none;
    color: black; }

.circ {
  border-radius: 100%; }

a.btn, button {
  -webkit-box-shadow: none;
  box-shadow: none;
  text-transform: uppercase;
  border-radius: 3px;
  -webkit-transition: all .5s;
  transition: all .5s; }
  a.btn.btn-more, button.btn-more {
    color: #35373A;
    border: none;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f1c823), to(rgba(241, 200, 35, 0)));
    background-image: linear-gradient(to top, #f1c823 0%, rgba(241, 200, 35, 0) 100%);
    background-color: #FFCB05; }
    a.btn.btn-more:hover, button.btn-more:hover {
      color: black;
      -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); }
  a.btn.white, button.white {
    background-image: none;
    background-color: white; }
  a.btn.btn-ghost, button.btn-ghost {
    border: 3px solid #FFCB05;
    background: transparent;
    color: #FFCB05; }
    a.btn.btn-ghost:hover, button.btn-ghost:hover {
      color: black;
      -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15), inset 0 0 25px 50px #FFCB05;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15), inset 0 0 25px 50px #FFCB05; }

.figures {
  padding-bottom: 50px; }
  .figures .big {
    font-family: 'Alfa Slab One', serif;
    font-size: 48px;
    color: white; }
  .figures p {
    text-transform: uppercase;
    padding-bottom: 30px; }

.panel-yellow {
  border-radius: 0px; }
  .panel-yellow .panel-heading {
    background: #FFCB05 !important;
    border-radius: 0px;
    border-color: #FFCB05;
    font-family: 'Alfa Slab One', serif; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: black; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  color: #000;
  background-color: #FFCB05; }

nav.navbar {
  border-radius: 0;
  border: none;
  background: #ffcc06 url(/images/header-bg.png) repeat-x;
  margin-bottom: 0; }
  nav.navbar a.navbar-brand {
    padding: 10px 15px; }
    nav.navbar a.navbar-brand:hover {
      background: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
      nav.navbar a.navbar-brand:hover img {
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
  nav.navbar .navbar-collapse {
    margin: 0;
    padding: 0;
    border: 0; }
  nav.navbar .navbar-toggle {
    background: black;
    margin-top: 3px;
    border: 5px solid #FFCB05; }
    nav.navbar .navbar-toggle .icon-bar {
      background: #FFCB05; }
  nav.navbar ul.nav.navbar-nav {
    list-style-type: none;
    padding-left: 0;
    margin: 0; }
    nav.navbar ul.nav.navbar-nav li {
      font-family: 'Alfa Slab One', serif;
      margin-left: 10px; }
      nav.navbar ul.nav.navbar-nav li a {
        padding: 15px 10px;
        background: #FFCB05;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-size: 18px;
        color: black;
        -webkit-transition: all .5s;
        transition: all .5s; }
        nav.navbar ul.nav.navbar-nav li a:hover {
          -webkit-box-shadow: inset 0 -5px 0 black;
          box-shadow: inset 0 -5px 0 black;
          background: #FFCB05; }
      nav.navbar ul.nav.navbar-nav li.active a {
        background: black;
        color: #FFCB05;
        -webkit-box-shadow: inset 0 0 0px 5px #FFCB05;
        box-shadow: inset 0 0 0px 5px #FFCB05; }
      nav.navbar ul.nav.navbar-nav li ul {
        padding: 0 0 0 0; }
        nav.navbar ul.nav.navbar-nav li ul li {
          display: block;
          margin: 0; }

body #intro .container {
  height: 100%;
  position: relative; }

body header {
  background: #555658;
  background-position: 70% bottom;
  background-size: cover;
  height: auto;
  color: white; }
  body header h1 {
    margin-top: 0;
    margin-bottom: 50px;
    text-shadow: 9px 7px 2px rgba(0, 0, 0, 0.03), -7px 9px 2px rgba(0, 0, 0, 0.03), -7px -7px 2px rgba(0, 0, 0, 0.03), 7px -7px 2px rgba(0, 0, 0, 0.06); }
  body header h2 {
    margin-top: 50px; }
  @media (min-width: 992px) {
    body header {
      background-position: right top; }
      body header blockquote {
        background: transparent; } }

body #laws p {
  font-size: large; }

body #constitution ul li {
  margin-bottom: 15px; }

body #donations ul li {
  margin-bottom: 25px; }

body section {
  padding: 50px 0; }
  body section.bg-yellow {
    background-color: #FFCB05; }
    body section.bg-yellow h3 {
      color: white; }
    body section.bg-yellow .panel h3 {
      color: #FFCB05; }
    body section.bg-yellow .btn-more {
      background-color: white;
      background-image: none;
      color: #35373A; }
    body section.bg-yellow .btn-ellipsis {
      background: white;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: #FFCB05;
      border-radius: 3px;
      padding: 0px 5px; }
      body section.bg-yellow .btn-ellipsis:hover {
        color: #35373A; }
  body section.bg-dark {
    background-color: #35373A;
    color: white; }
    body section.bg-dark .panel {
      color: #35373A;
      -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
      box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5); }

body > footer {
  background: #35373A;
  color: white;
  padding: 50px 0 30px;
  border-top: 5px solid #FFCB05; }
  body > footer ul {
    list-style-type: none;
    padding-left: 0; }
    body > footer ul li {
      font-size: 16px; }
      body > footer ul li a {
        -webkit-box-shadow: none;
        box-shadow: none; }
  body > footer a {
    color: #FFCB05; }
    body > footer a:hover {
      color: white; }
  body > footer input {
    border: 3px solid #FFCB05 !important;
    border-right: none !important;
    border-radius: 3px;
    padding: 6px 10px;
    height: 38px !important;
    background: #555658;
    color: #e4e3e4; }
    body > footer input::-webkit-input-placeholder {
      color: #e4e3e4;
      opacity: .3; }
    body > footer input:-ms-input-placeholder {
      color: #e4e3e4;
      opacity: .3; }
    body > footer input::-ms-input-placeholder {
      color: #e4e3e4;
      opacity: .3; }
    body > footer input::placeholder {
      color: #e4e3e4;
      opacity: .3; }
    body > footer input:focus {
      background-color: #e4e3e4;
      border: 3px solid #FFCB05;
      border-right: none;
      outline: #FFCB05;
      -webkit-box-shadow: inset 0 0 2px rgba(255, 203, 5, 0.25), 0 0 2px rgba(255, 203, 5, 0.25);
      box-shadow: inset 0 0 2px rgba(255, 203, 5, 0.25), 0 0 2px rgba(255, 203, 5, 0.25);
      color: #35373A; }

body.home #intro {
  background: #555658 url(/images/hero.svg) center center no-repeat;
  background-size: cover;
  height: 100vh;
  max-height: 200vw;
  -webkit-box-shadow: inset 0 0 70px rgba(0, 0, 0, 0.35);
  box-shadow: inset 0 0 70px rgba(0, 0, 0, 0.35); }
  body.home #intro .container {
    height: 100%;
    position: relative; }
    body.home #intro .container h1 {
      text-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
      margin: 80px 0 0; }
    body.home #intro .container .to-bottom {
      position: absolute;
      bottom: 200px;
      width: 100%; }

body.home #what-headline {
  background: url(/images/wave.svg) center top;
  background-size: cover;
  margin-top: -106px;
  padding: 50px 0 30px; }
  body.home #what-headline h3 {
    margin: 0; }

body.home #what {
  position: relative;
  padding: 0; }
  body.home #what #gmap {
    height: 100vh; }
  body.home #what #overmap {
    height: 100vh;
    margin-top: -100vh;
    position: relative;
    pointer-events: none; }
    body.home #what #overmap .to-bottom {
      position: absolute;
      bottom: 0;
      left: 10px;
      right: 10px; }
      body.home #what #overmap .to-bottom .panel {
        pointer-events: auto; }

body.home #mission {
  background: #FFCB05 url(/images/mission.svg) center bottom no-repeat;
  background-size: cover; }
  body.home #mission h3 {
    color: #35373A; }

body.home #products a {
  text-decoration: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
  body.home #products a .img-holder {
    width: 125px;
    height: 125px;
    margin: auto; }
  body.home #products a h5, body.home #products a p {
    color: #35373A; }
  body.home #products a.e-res .img-holder {
    background-image: url(/images/icon-e-res.svg); }
  body.home #products a.e-res:hover .img-holder {
    background-image: url(/images/icon-car-animated.svg); }
  body.home #products a.pass .img-holder {
    background-image: url(/images/icon-pass.svg); }
  body.home #products a.pass:hover .img-holder {
    background-image: url(/images/icon-car-animated.svg); }
  body.home #products a.comp .img-holder {
    background-image: url(/images/icon-comp.svg); }
  body.home #products a.comp:hover .img-holder {
    background-image: url(/images/icon-comp-animated.svg); }
  body.home #products a.car .img-holder {
    background-image: url(/images/icon-car.svg); }
  body.home #products a.car:hover .img-holder {
    background-image: url(/images/icon-car-animated.svg); }

body.home #government {
  overflow: hidden;
  position: relative; }
  body.home #government #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #35373A;
    margin-top: -50px; }
  body.home #government canvas {
    display: block;
    vertical-align: bottom; }
  body.home #government .row.columns > div {
    padding-bottom: 20px; }
  body.home #government a div.circ {
    width: 210px;
    height: 210px;
    border: 5px solid #FFCB05;
    margin: auto; }
    body.home #government a div.circ img {
      width: 200px;
      height: 200px;
      -webkit-filter: grayscale(100%) brightness(135%) contrast(120%);
      filter: grayscale(100%) brightness(135%) contrast(120%);
      -webkit-transition: all .25s;
      transition: all .25s; }
  body.home #government a h5, body.home #government a p {
    color: white;
    -webkit-transition: all .25s;
    transition: all .25s; }
  body.home #government a:hover div.circ img {
    -webkit-filter: none;
    filter: none; }
  body.home #government a:hover h5, body.home #government a:hover p {
    color: #FFCB05; }

body.home #partners {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fafafa), color-stop(50%, rgba(237, 237, 237, 0)));
  background: linear-gradient(#fafafa 50%, rgba(237, 237, 237, 0) 50%);
  background-size: 90px;
  padding: 0; }
  body.home #partners .container {
    background: url(/images/romb.svg) center center;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px; }
    body.home #partners .container a {
      -webkit-box-shadow: none;
      box-shadow: none; }
      body.home #partners .container a img {
        width: 100%;
        max-width: 100px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%); }

body.home #news h3 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(39%, #FFCB05), color-stop(40%, white), color-stop(60%, white), color-stop(61%, #FFCB05));
  background-image: linear-gradient(to bottom, #FFCB05 39%, white 40%, white 60%, #FFCB05 61%);
  text-shadow: 8px 2px 0px #FFCB05, 8px -2px #FFCB05, -9px 2px #FFCB05, 14px -7px #FFCB05, 14px -2px #FFCB05, -16px 0px #FFCB05; }

body.home #news a {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #35373A; }
  body.home #news a img {
    width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
  body.home #news a:hover {
    color: black; }
    body.home #news a:hover img {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%); }

body.home #media .col-sm-3.col-xs-4 {
  height: 120px; }

body.home #media a {
  -webkit-box-shadow: none;
  box-shadow: none; }
  body.home #media a img {
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    max-width: 200px;
    width: 100%;
    margin: 20px auto; }
  body.home #media a:hover img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); }

body.liberland header {
  background: #646462 url(/images/about-hero.jpg);
  background-position: 70% bottom;
  background-size: cover;
  height: 100vh;
  max-height: 200vw;
  color: white; }
  body.liberland header h1 {
    margin-top: 0;
    text-shadow: 9px 7px 2px rgba(0, 0, 0, 0.03), -7px 9px 2px rgba(0, 0, 0, 0.03), -7px -7px 2px rgba(0, 0, 0, 0.03), 7px -7px 2px rgba(0, 0, 0, 0.06); }
  body.liberland header h2 {
    margin-top: 180px; }
  body.liberland header blockquote {
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.03), -5px 5px 2px rgba(0, 0, 0, 0.03), -5px -5px 2px rgba(0, 0, 0, 0.03), 5px -5px 2px rgba(0, 0, 0, 0.06);
    background: rgba(0, 0, 0, 0.5); }
  @media (min-width: 992px) {
    body.liberland header {
      height: 80vh;
      background-position: right top; }
      body.liberland header blockquote {
        background: transparent; } }

body.liberland #counter .figures {
  padding-bottom: 0; }
  body.liberland #counter .figures p {
    padding-bottom: 0; }

body.contact {
  background: #555658; }
  body.contact #general {
    background: white; }
    body.contact #general .alert-primary {
      border: 3px solid #FFCB05;
      background: rgba(255, 203, 5, 0.25);
      padding: 30px; }
    body.contact #general table {
      width: 100%; }
      body.contact #general table thead {
        background: #FFCB05;
        font-weight: bold; }
      body.contact #general table tr {
        background: rgba(228, 227, 228, 0.35); }
        body.contact #general table tr:nth-child(odd) {
          background: rgba(228, 227, 228, 0); }
        body.contact #general table tr td {
          padding: 3px;
          display: block;
          width: 50%;
          float: left; }
          body.contact #general table tr td:nth-child(2) {
            text-align: right; }
          body.contact #general table tr td:last-child {
            width: 100%; }
          @media (min-width: 992px) {
            body.contact #general table tr td {
              display: table-cell;
              width: 20%;
              float: none; }
              body.contact #general table tr td:nth-child(2) {
                text-align: left; } }
  body.contact .panel {
    border: none;
    margin-bottom: 30px; }
    body.contact .panel .panel-heading {
      border-radius: 0;
      border: none;
      background: #FFCB05; }
    body.contact .panel .panel-body {
      height: 170px; }

body.application #particles {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: -50px; }

body.application #intro {
  background-color: #555658;
  background-size: cover;
  height: 100vh;
  max-height: 200vw;
  -webkit-box-shadow: inset 0 0 70px rgba(0, 0, 0, 0.35);
  box-shadow: inset 0 0 70px rgba(0, 0, 0, 0.35); }
  body.application #intro .container {
    height: 100%; }

body.application input[type=checkbox] {
  margin-right: 8px; }

.simple-page h1, .simple-page h2, .simple-page h3 {
  text-align: center;
  margin-top: 2em; }

.simple-page p {
  margin-bottom: 1.5em; }

.wait1 {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s; }

.wait2 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.wait3 {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s; }

.wait4 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

@media (min-width: 768px) {
  [class^="wait"] {
    -webkit-animation-delay: 0;
    animation-delay: 0; } }

body.embassy header {
  background: white;
  color: red; }
  body.embassy header h1, body.embassy header h2 {
    text-shadow: none; }
  body.embassy header h1 {
    margin: 30px 0 10px; }
  body.embassy header h2 {
    color: #555658;
    margin: 0 0 30px; }
  body.embassy header .flag {
    width: 100%;
    height: 30px;
    background: #FFCB05 url(/images/header-bg.png) repeat-x;
    background-size: contain; }

body.coc header {
  background: white; }
  body.coc header a.home {
    -webkit-box-shadow: none;
    box-shadow: none; }
  body.coc header img {
    float: left;
    margin-top: 10px; }
  body.coc header h1, body.coc header h2 {
    text-shadow: none;
    display: inline-block; }
  body.coc header h1 {
    margin: 30px 0 10px 5px;
    font-size: 42px; }
  body.coc header h2 {
    color: #555658;
    margin: 0 0 30px 5px; }
  body.coc header .flag {
    width: 100%;
    height: 30px;
    background: #FFCB05 url(/images/header-bg.png) repeat-x;
    background-size: contain; }

body.coc nav.coc {
  background: transparent;
  position: relative;
  z-index: 100;
  margin-top: -62px; }
  @media (min-width: 768px) {
    body.coc nav.coc {
      margin-top: 92px; } }
  body.coc nav.coc button.navbar-toggle {
    background: white;
    border: none; }
    body.coc nav.coc button.navbar-toggle span {
      color: #555658; }
  body.coc nav.coc ul.nav.navbar-nav.navbar-right li {
    background: none;
    margin: 0; }
    body.coc nav.coc ul.nav.navbar-nav.navbar-right li.active {
      background: #FFCB05; }
      body.coc nav.coc ul.nav.navbar-nav.navbar-right li.active a {
        background: none; }
    body.coc nav.coc ul.nav.navbar-nav.navbar-right li a {
      color: #555658;
      background: none;
      font-family: "Helvetica", sans-serif;
      font-size: 20px;
      padding: 15px 5px; }

body.coc section#general {
  position: relative;
  padding: 0; }
  body.coc section#general #gmap {
    height: 100vh; }
  body.coc section#general #overmap {
    height: auto;
    background: #e4e3e4;
    margin-top: 0px;
    padding-top: 40px; }
    @media (min-width: 768px) {
      body.coc section#general #overmap {
        height: 98vh;
        margin-top: -98vh;
        background: transparent;
        position: relative;
        pointer-events: none; }
        body.coc section#general #overmap .to-bottom {
          position: absolute;
          bottom: 0;
          left: 15px;
          right: 15px; }
          body.coc section#general #overmap .to-bottom .panel {
            pointer-events: auto; }
        body.coc section#general #overmap .to-middle {
          position: absolute;
          bottom: 50%;
          -webkit-transform: translateY(50%);
          transform: translateY(50%);
          left: 15px;
          right: 15px; }
          body.coc section#general #overmap .to-middle .panel {
            pointer-events: auto; } }

body.coc section#who {
  background-image: url(../images/coc/theCrew.jpg);
  background-size: cover;
  background-position: center top; }
  body.coc section#who h3 {
    margin-bottom: 120px; }

body.coc section#why {
  overflow: hidden;
  position: relative; }
  body.coc section#why #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #35373A;
    margin-top: -50px; }
  body.coc section#why canvas {
    display: block;
    vertical-align: bottom; }
  body.coc section#why .container {
    position: relative;
    z-index: 120; }
    body.coc section#why .container a {
      display: block;
      -webkit-box-shadow: none;
      box-shadow: none; }
      body.coc section#why .container a .circ {
        background: #555658;
        text-align: center;
        position: relative;
        margin-bottom: 25px;
        -webkit-box-shadow: 0 0 0px 10px #555658, 0 0 0px 10px #555658;
        box-shadow: 0 0 0px 10px #555658, 0 0 0px 10px #555658;
        -webkit-transition: all .5s;
        transition: all .5s; }
        body.coc section#why .container a .circ:after {
          content: "";
          display: block;
          padding-bottom: 100%; }
        body.coc section#why .container a .circ p {
          padding: 0px;
          position: absolute;
          left: 50%;
          top: 50%;
          width: 65%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          color: #e4e3e4;
          -webkit-transition: all .25s;
          transition: all .25s; }
      body.coc section#why .container a:hover .circ {
        -webkit-box-shadow: 0 0 0px 10px #555658, 0 0 10px 20px rgba(85, 86, 88, 0);
        box-shadow: 0 0 0px 10px #555658, 0 0 10px 20px rgba(85, 86, 88, 0); }
        body.coc section#why .container a:hover .circ p {
          color: white !important; }

body.coc.coc-about #about h3 {
  color: #FFCB05; }

body.coc.coc-about #lists {
  /*
			background-image: url(../images/coc/anim-bg.gif);
			background-size: contain;
			.container {
				background: url(../images/coc/dot-grid.png);
			}
*/ }

body.coc.coc-liberland #future {
  background-image: url(../images/coc/circuit.svg);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain; }
  body.coc.coc-liberland #future p {
    font-size: 16px;
    font-weight: 600; }
