body.kayak {
	
	font-size: 16px;
	
	header {
		background-image: url(../images/kayak/river.jpg);
		background-position: left bottom; 
		background-color: white;
		color: red;
		height: 93vh;
		@include breakpoint(sm){
			height: 70vh;
		}
		.row, .container {
			position: relative;
			height: 100%;
		}
		
		.headline {
			position: absolute;
			bottom: 0px;
			z-index: 300;
		    width: 100%;
			h1, h2 {
				text-shadow: none;
			}
			h1 { 
				margin: 10px 0 10px;
				font-size: 32px;
			}
			h2 { 
				color: $gray-m;
				margin: 0 0 10px;
				font-size: 24px;
				text-transform: uppercase;
			}
			@include breakpoint(sm){
				bottom: 350px;
				h1 {
					margin: 10px 0 10px;
					font-size: 60px;
				}
				h2 { 
					color: $gray-m;
					margin: 0 0 10px;
					font-size: 28px;
					line-height: 42px;
					text-transform: uppercase;
				}
			}
			@include breakpoint(md){ 
				width: 66.66666667%;
				bottom: 200px;
				h2 { 
					color: black;
					text-shadow: 0 0 20px rgba(white,.95);
				}
			}
		}
		
	}
	#about {
		position: relative;
		.row {
			position: relative;
			z-index: 1000;	
			
			img {
				margin-bottom: 50px;
				@include breakpoint(md){ 
					margin-bottom: 0;
				}
			}
		}
		&::before, &::after {
			content: "";
			height: 210px;
			width: 100%;
			display: block;
			transform: skewY(-4.29deg);
			background-color: white;
			position: absolute;
			z-index: 100;
		}
		&::before {
			top: -190px;
			transform-origin: right top;
		}
		&::after {
			bottom: 0px; 
			transform-origin: left top;
			transform: skewY(4.29deg);
		}
	}
	#calendar {
		padding-top: 150px;
		
		.gCalFlow {
			  position: relative;
			  width: 100%;
			  height: 200px;
			  float: left;
			  font-size: 90%;
			  overflow: hidden;
			  text-decoration: none;
			  padding-bottom: 0.5em;
			  a, a:visited, a:hover {
			    color: inherit;
			    _color: black;
			    background-color: transparent;
			    text-decoration: none;
			  }
			  a:hover {
			    text-decoration: underline;
			  }
			  .gcf-header-block {
			    padding: 5px 4px;
			    background: transparent;
			  }
			  .gcf-title-block {
			    font-weight: bold;
			    font-family: $slab;
			    font-size: 24px;
			    color: white;
			    a, a:visited, a:hover { _color: white; }
			  }
			  .gcf-last-update-block {
			    font-size: 76%;
			    text-align: right;
			    bottom: 0;
			    right: 0;
			    padding-right: 4px;
			    position: absolute;
			  }
			  .gcf-item-container-block {
			    position: relative;
			    overflow: hidden;
			    overflow-y: auto;
			    height: 90%;
			  }
			  .gcf-item-block {
			    position: relative;
			    overflow: hidden;
			    border-bottom: 5px dotted white;
			    padding: 2px;
			    margin: 2px 0;
			  }
			  .gcf-item-header-block {
			    white-space: nowrap;
			    overflow: hidden;
			  }
			  .gcf-item-date-block {
			    font-size: 76%;
			    font-weight: bold;
			  }
			  .gcf-item-title-block {
			    //text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
			  }
			  .gcf-item-body-block {
			    font-size: 80%;
			    font-color: #999;
			    max-height: 2.45em;
			  }
		}
		
		
		img {
			margin: 50px auto 0;
			@include breakpoint(md){ 
				margin: 150px auto 0;
			}
		}
		
		
	}
	#gallery {
		.item {
			height: 110px;
			border: 2px solid white;
			//margin-bottom: 10px;
			background-size: cover; 
			@include breakpoint(md){
				
			}
		}
	}
	#kayakA {
		height: 70vh;
		background-position: center top;
		background-image: url(../images/kayak/kayak-A.jpg);
		@include breakpoint(sm){
			height: 50vh;	
		}
		.container {
			position: relative;
			height: 100%;
			.row {
				position: relative;
				height: 100%;
				.to-bottom {
					position: absolute;
					bottom: -30px;
				    width: 100%;
				    h3 {
					    color: white;
					    letter-spacing: 3px;
					    text-transform: uppercase;
				    }
				}
			}
		}
		
	}
	#sponsors {
		padding: 80px 0 50px;
		.col-xs-12 {
			height: 80px;
			margin-bottom: 30px;
			a{
				box-shadow: none;
				width: 100%;
				margin-bottom: 20px;
				img {
				    transition: all 200ms ease-in-out;
				    filter: grayscale(100%);
				    height: 80px;
				    max-width: 200px;
				    //width: 100%;
			    }
			    &:hover img {
				    filter: grayscale(0%);
			    }
			}
		}
		
	}
	#kayakV {
		background-image: url(../images/kayak/kayak-V.jpg);
		height: 90vh;
		background-position: center bottom;
		position: relative;
		@include breakpoint(sm){
			height: 50vh;	
		}
		.container {
			height: 100%;
			position: relative;
			
			h3 {
				color: white;
				text-transform: uppercase;
			}
			
			.to-bottom {
				position: absolute;
				bottom: 0;
				width: 100%;
				
			}
			
		}
		
		.panel {
			position: relative;
			//background: red;
			z-index: 100;
			&::before {
				content: '';
				border: 5px dashed $yellow;
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: 200;
				top: -10px;
				left: -10px;
			}
			
		}
	}
	footer {
		padding: 0;
		color: $gray-m;
		
		border-top: 50px solid $yellow; 
		#gmap {
			height: 400px;
		}
		.container {
			//height: 40vh;
			padding-top: 50px;
			
			@include breakpoint(md){
				padding-top: 100px;
				margin-top: -400px;
			}
			
			.panel {
				box-shadow: 0 5px 25px rgba(black, .5);
			}
		}
		
		
	}
	
}