body.kayak {
	
	font-size: 16px;
	
	header {
		background-image: url(../images/kayak/river.jpg);
		background-color: white;
		color: red;
		height: 70vh;
		
		.row, .container {
			position: relative;
			height: 100%;
		}
		
		.headline {
			position: absolute;
			bottom: 200px;
			h1, h2 {
				text-shadow: none;
			}
			h1 { margin: 10px 0 10px}
			h2 { 
				color: $gray-m;
				margin: 0 0 10px;
				font-size: 32px;
				text-transform: uppercase;
			}
		}
		
	}
	#about {
		position: relative;
		.row {
			position: relative;
			z-index: 1000;	
		}
		&::before, &::after {
			content: "";
			height: 210px;
			width: 100%;
			display: block;
			transform: skewY(-4.29deg);
			background-color: white;
			position: absolute;
			z-index: 100;
		}
		&::before {
			top: -190px;
			transform-origin: right top;
		}
		&::after {
			bottom: 0px; 
			transform-origin: left top;
			transform: skewY(4.29deg);
		}
	}
	#calendar {
		padding-top: 150px;
		
		.gCalFlow {
			  position: relative;
			  width: 100%;
			  height: 400px;
			  float: left;
			  font-size: 90%;
			  overflow: hidden;
			  text-decoration: none;
			  padding-bottom: 0.5em;
			  a, a:visited, a:hover {
			    color: inherit;
			    _color: black;
			    background-color: transparent;
			    text-decoration: none;
			  }
			  a:hover {
			    text-decoration: underline;
			  }
			  .gcf-header-block {
			    padding: 5px 4px;
			    background: transparent;
			  }
			  .gcf-title-block {
			    font-weight: bold;
			    font-family: $slab;
			    font-size: 24px;
			    color: white;
			    a, a:visited, a:hover { _color: white; }
			  }
			  .gcf-last-update-block {
			    font-size: 76%;
			    text-align: right;
			    bottom: 0;
			    right: 0;
			    padding-right: 4px;
			    position: absolute;
			  }
			  .gcf-item-container-block {
			    position: relative;
			    overflow: hidden;
			    overflow-y: auto;
			    height: 90%;
			  }
			  .gcf-item-block {
			    position: relative;
			    overflow: hidden;
			    border-bottom: 5px dotted white;
			    padding: 2px;
			    margin: 2px 0;
			  }
			  .gcf-item-header-block {
			    white-space: nowrap;
			    overflow: hidden;
			  }
			  .gcf-item-date-block {
			    font-size: 76%;
			    font-weight: bold;
			  }
			  .gcf-item-title-block {
			    //text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
			  }
			  .gcf-item-body-block {
			    font-size: 80%;
			    font-color: #999;
			    max-height: 2.45em;
			  }
			}
			
			// design
/*
			.gCalFlow {
			  $radius_size: 4px;
			  $light_color: #fff;
			  $dark_color: #eee;
			  border-style: solid;
			  border-width: 1px;
			  border-color: #ccc #999 #999 #ccc;
			  -webkit-border-radius: $radius_size;
			  -moz-border-radius: $radius_size;
			  border-radius: $radius_size;
			  background: -webkit-gradient(linear, left top, left bottom, from($light_color), to($dark_color));
			  background: -moz-linear-gradient(top, $light_color, $dark_color);
			  background: -o-linear-gradient(top, $light_color, $dark_color);
			  background: linear-gradient(to bottom, $light_color, $dark_color);
			  filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ffffffff,EndColorStr=#ffeeeeee); zoom:1;
			  color: blak;
			
			  .gcf-header-block {
			    $light_color: #AAB1DC;
			    $dark_color: #3B4CA5;
			    -webkit-border-top-left-radius: $radius_size;
			    -webkit-border-top-right-radius: $radius_size;
			    -moz-border-top-left-radius: $radius_size;
			    -moz-border-top-right-radius: $radius_size;
			    border-top-left-radius: $radius_size;
			    border-top-right-radius: $radius_size;
			    background: -webkit-gradient(linear, left top, left bottom, from($light_color), to($dark_color));
			    background: -moz-linear-gradient(top, $light_color, $dark_color);
			    background: -o-linear-gradient(top, $light_color, $dark_color);
			    background: linear-gradient(to bottom, $light_color, $dark_color);
			    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ffAAB1DC,EndColorStr=#ff3B4CA5); zoom:1;
			  }
			  .gcf-item-body-block {
			    color: #333;
			  }
			}
*/
		
		
		
	}
	#gallery {
		.item {
			height: 110px;
			border: 2px solid white;
			//margin-bottom: 10px;
			background-size: cover; 
			@include breakpoint(md){
				
			}
		}
	}
	#kayakA {
		height: 50vh;
		background-position: center top;
		background-image: url(../images/kayak/kayak-A.jpg);
		.container {
			position: relative;
			height: 100%;
			.row {
				position: relative;
				height: 100%;
				.to-bottom {
					position: absolute;
					bottom: -30px;
				    width: 100%;
				    h3 {
					    color: white;
					    letter-spacing: 3px;
					    text-transform: uppercase;
				    }
				}
			}
		}
		
	}
	#sponsors {
		.col-sm-3.col-xs-4 {
			height: 80px;
			a{
				box-shadow: none;
				
				img {
				    transition: all 200ms ease-in-out;
				    filter: grayscale(100%);
				    max-width: 200px;
				    width: 100%;
				    margin: 20px auto;
			    }
			    &:hover img {
				    filter: grayscale(0%);
			    }
			}
		}
		
	}
	#kayakV {
		background-image: url(../images/kayak/kayak-V.jpg);
		height: 50vh;
		background-position: center bottom ;
	}
	footer {
		padding: 0;
		color: $gray-m;
		#gmap {
			height: 400px;
		}
		.container {
			margin-top: -400px;
			padding-top: 100px;
		}
	}
	
}